/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family-main);
  margin: 0;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
