/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --decor-color: #FF0070;
  --menu-text-color: #FF0070;
  --menu-hover-color: rgba(255, 0, 112, 0.4);
  --bg-image: url("../images/cover-image-dark.png");
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: var(--bg-image);
}

.theme-dark .header__rec {
  display: flex;
}
