/* Глобальные сбросы стилей */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-inline-size: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

/* Убираем стандартные отступы */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

/* Убираем стандартные стили списков */
ul,
ol {
  list-style: none;
}

/* Наследование шрифта для кнопок и инпутов */
button,
input,
textarea {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

/* Убираем стандартные стили кнопок */
button {
  border: none;
  padding: 0;
}

/* Убираем стандартное подчёркивание у ссылок */
a {
  text-decoration: none;
  color: currentColor;
}

/* Упрощаем работу с изображениями */
img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

/* Скрываем элементы с aria-hidden */
[aria-hidden="true"] {
  display: none;
}
