/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #fff;
  --text-color: #000;
  --accent-color: #4a54e1;
  --card-bg: #f5f5f5;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
