/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --decor-color: #353430;
  --menu-text-color: #353430;
  --menu-hover-color: rgba(50, 49, 45, 0.4);
  --bg-image: url("../images/cover-image-light.png");
}

/* REC должен быть скрыт в светлой теме */
.theme-light .header__decoration {
  display: none;
}
.theme-light .header__decoration {
  display: none;
}

/* Для системной светлой темы */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --decor-color: #353430;
    --menu-text-color: #353430;
    --menu-hover-color: rgba(50, 49, 45, 0.4);
    --bg-image: url("../images/cover-image-light.png");
  }
}
